@model IEnumerable<web_da544B.Models.Order>

@{
	ViewBag.Title = "Order";
}

<h2>Order</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.CustomerEmail)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TotalPrice)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Quantity)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Category)
		</th>


		<th>
		<th>
			Title
		</th>
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CustomerEmail)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TotalPrice)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Quantity)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Category)
			</td>
			<td>
				@foreach (var b in item.BookInfos)
				{
					@Html.DisplayFor(modelItem => b.Title)
				}
			</td>
		</tr>
	}

</table>
